<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - March 02, 2023</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>Before</td>  <td>Introducing the Shell</td> </tr>
      <tr> <td>09:00</td>  <td>https://swcarpentry.github.io/shell-novice/setup.html#download-files</td> </tr>
      <tr> <td>09:05</td>  <td>Navigating and Working with Files and Directories</td> </tr>
      <tr> <td>10:15</td>  <td>Pipes and Filters</td> </tr>
      <tr> <td>10:45</td>  <td>Loops</td> </tr>
      <tr> <td>11:30</td>  <td>Shell Scripts</td> </tr>
      <tr> <td>12:15</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:15</td>  <td>Finding Things</td> </tr>
      <tr> <td>13:45</td>  <td>Introduction to R and RStudio</td> </tr>
      <tr> <td>14:45</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:00</td>  <td>Project Management with RStudio</td> </tr>
      <tr> <td>15:30</td>  <td>Seeking Help</td> </tr>
      <tr> <td>15:45</td>  <td>Data Structures</td> </tr> 
      <tr> <td>16:45</td>  <td>END</td> </tr>  
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2, March 03, 2023</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>10:00</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>10:50</td>  <td>Control Flow</td> </tr>
      <tr> <td>11:00</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Creating Publication-Quality Graphics with ggplot2 (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Vectorization</td> </tr>
      <tr> <td>13:50</td>  <td>Functions Explained</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>14:45</td>  <td>Writing Data</td> </tr>
      <tr> <td>15:15</td>  <td>Splitting and Combining Data Frames with plyr</td> </tr>
      <tr> <td>16:15</td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>16:45</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:50</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
